<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tachyonic.qrpassword">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>

    <application
        android:name=".QRApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.create.CreateActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.register.RegisterActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.scan.ScanActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.snapshot.SnapshotActivity"
            android:screenOrientation="portrait">
        </activity>

        <meta-data android:name="AA_DB_NAME" android:value="QRCodeDatabase.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="5" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.tachyonic.qrpassword.utils.models.QRDbData" />

    </application>

</manifest>
